<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for val in subcategory %}
        <h1>{{val.subcategory}}</h1>
        {% endfor %}
    </div>
    {% for prod in product%}
        <div>
            <div class="card">
                <img src="{{prod.img.url}}" style="height:50px; width:50px;"/>
                <p>{{prod.name}}</p>
                <p>{{prod.que}}</p>
                <p>{{prod.price}}</p>
            </div>
        </div>
    {% endfor %}
</body>
</html>