<!DOCTYPE html>
{% load static %}
{% load product_tags %}
{% load get_dict %}
{% load custom_filters %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/profile.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BI MART</title>
</head>

<body>

    <!-- header for big screen -->
    <header class="header_1">
        <div class="logo_div">
            <p>LOGO</p>
        </div>
        <a href="#" class="location">
            <h3>Delivery in 10 minutes</h3>
            <span>Location <i class="fa-solid fa-caret-down"></i></span>
        </a>

        <a class="text-decoration-none" href="{% url 'search' %}">
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>search</p>
            </div>
        </a>
        {% if request.session.mobile_number %}
        <div class="account_btn">
            <p>ACCOUNT</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="account_box">
            <a href="{% url 'my_addressbook' %}" class="logo_ut-btn">My Address Book</a>
            <br>
            <a href="{% url 'logout' %}" class="logo_ut-btn">Log Out</a>
        </div>
        {% else %}
        <a href="#" class="continue_loig">LOGIN</a>
        {% endif %}
        <div class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <i class="fa-solid fa-arrow-left close-popup"></i>
                <h1>LOGO</h1>
                <h2>India's last minute app</h2>
                <p>Log in or Sign up</p>
                <form action="/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Mobile No.</label>
                        <input required type="text" name="phone" id="" class="form-control"
                            placeholder="enter mobile number">
                    </div>
                    <input type="submit" value="continue">
                </form>
            </div>
        </div>

        <!-- Cart Section -->
        <!-- Cart Section -->

        <a class="cart-buttn " id="open-cart-btn">
            <button type="button" class="cart-sec-btn" data-toggle="modal" data-target="#cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="total-count">
                    <p>{{ total_count }}<span>items</span></p>
                    {% for item in cart_items %}
                    <p>₹{{ cart_items|total }}</p>
                    {% endfor %}
                </span>
            </button>
        </a>

        <!-- Cart Popup -->
        <div id="cart-popup" class="cart-popup">
            <div class="cart-popup-content">
                <div class="heading">
                    <h4>My Cart</h4>
                    <span id="close-cart-btn">&times;</span>
                </div>
                {% for item in cart_items %}
                <div class="prod_details">
                    <img class="prod_img" src="{{ item.product.image1.url }}" alt="{{ item.product.name }}">
                    <div class="name_div">
                        <p class="prod_name">{{ item.product.name }}</p>
                        <p class="prod_quantity">{{ item.quantity }}</p>
                    </div>
                    <div>
                        <div class="cart-btns">
                            <form method="post" action="{% url 'add-to-cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <input type="hidden" name="remove" value="1">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <input class="plus_minus" type="submit" value="-">
                            </form>
                            <div class="prod_que">{{ item.product.quantity }}</div>
                            <form method="post" action="{% url 'add-to-cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <input class="plus_minus" type="submit" value="+">
                            </form>
                        </div>
                        <div class="d-flex">
                            {% if item.product.offer_percent %}
                            <p class="prod_price">₹{{ item.product.price|multiply_no_decimal:item.quantity }}</p>
                            <p class="prod_discounted_price">₹{{ item|total_discounted_price }}</p>
                            {% else %}
                            <p>₹{{ item.product.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="cart-summary mt-5">
                    <h5 class="fw-bold">Bill Details</h5>
                    <div class="item_detail d-flex justify-content-between">
                        <p><i class="fa-solid fa-truck mr-2" style="margin-right:10px;"></i>items total</p>
                        <p>₹{{ cart_items|total }}</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Delivery charge</p>
                        {% if cart_items|final_total < 200 %} <p>₹16</p>
                            {% else %}
                            <p><span class="text-decoration-line-through" style="margin-right:5px;">₹16</span>FREE</p>
                            {% endif %}
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Handling Charge 4</p>
                        <p>₹4</p>
                    </div>
                    <div class="d-flex justify-content-between">

                        <p class="fs-6 fw-bold">Grand total</p>
                        <p class="fs-6 fw-bold">₹{{ cart_items|final_total }}</p>
                    </div>

                    <a href="/checkout_form/">Check Out</a>
                </div>
            </div>
        </div>
    </header>
    <!-- header for big screen -->

    <!-- header for mobile screen -->
    <header class="header_2">
        <div class="upper_div">
            <a href="#" class="location">
                <div>
                    <h3><span>Delivery in </span>10 minutes</h3>
                    <span>Location <i class="fa-solid fa-caret-down"></i></span>
                </div>
            </a>
            <a href="{% url 'profile' %}" class="user">
                <i class="fa-regular fa-user"></i>
            </a>
        </div>
        <a class="search_box text-decoration-line-through" href="{% url 'search' %}">
            <div class="outer_search_box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <p>search</p>
            </div>
        </a>
    </header>
    <!-- header for mobile screen -->

    <!-- CATEGORY SECTION FOR SMALL SCREENS START HERE -->
    <div class="cat_section_2">
        {% for category in categories %}
        <a href="{% url 'subcategory' category.pk %}" class="text-decoration-none">
            {% if category.img %}
            <div class="cat_box  lh-lg">
                <div class=" image_box rounded-3 d-flex align-items-end justify-content-center">
                    <img src="{{ category.img.url }}" style="width: 90px;">
                </div>
                <p style="font-weight: 600; font-size: 13px;">
                    {{ category.category_name }}
                </p>
            </div>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    <!-- CATEGORY SECTION FOR SMALL SCREENS ENDS HERE -->

    <!-- CATEGORY SECTION FOR BIG SCREENS START HERE -->
    <div class="cat_section">
        {% for heading, category in heading_category_map.items %}
        <h1>{{ heading }}</h1>
        <div class="d-flex gap-3 align-items-center flex-wrap cat-container">
            {% for category_inst in category %}
            <a href="{% url 'subcategory' category_inst.id %}" class="text-decoration-none">
                <div class="cat_box text-center lh-lg">
                    <div class=" image_box rounded-3 d-flex align-items-center justify-content-center">
                        <img src="/media/{{ category_inst.img }}" style="width: 90px;">
                    </div>
                    <p style="font-weight: 600; font-size: 13px;">
                        {{ category_inst.category_name }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <!-- CATEGORY SECTION FOR BIG SCREENS ENDS HERE -->

    <!-- PRODUCT  SECTION STARTS HERE -->
    <div class="slider-section">
        <div class="btn-r"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="btn-l"><i class="fa-solid fa-chevron-right"></i></div>
        {% for val in special_heading_product_list %}
        <h3>{{ val|get_val:"name" }}</h1>
            <p>{{ val|get_val:"description" }}</p>
            <div class="slider-sec">
                <ul class="product-slide d-flex">
                    {% for product in val|get_val:"product_list" %}
                    <a href="{% url 'product_detail' product.id %}" class="cart p-3 text-decoration-none">
                        <div class="offer">
                            <p> {{ product.offer_percent }}% offer</p>
                        </div>
                        <div class="image-sec text-center py-4 rounded-3" style="height:161px; width:165px">
                            <img class="" style="height:115px" src="/media/{{ product.image1 }}">
                        </div>
                        <div class="name_detail">
                            <span class="mins">8 mins</span>
                            <h1>{{ product.name|truncatechars:40 }}</h1>
                            <p> {{ product.que }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between cart-section"
                            data-product-id="{{ product.id }}">
                            <div class="price">
                                <p class="actual_price">Rs {{ product.price }}</p>
                                <p class="disc_price">Rs {{ product.discounted_price }}</p>
                            </div>
                            {% if product|get_item_quantity:request.session.cart %}
                            <div class="cart-btns">
                                <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="remove" value="1">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input class="plus_minus" type="submit" value="-">
                                </form>
                                <div class="prod_que">{{ product | cart_quantity:request.session.cart }}</div>
                                <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input class="plus_minus" type="submit" value="+">
                                </form>
                            </div>
                            {% else %}
                            <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <button type="submit" class="add-to-cart-btn">ADD</button>
                            </form>
                            {% endif %}
                        </div>

                    </a>
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
    </div>
    <!-- PRODUCT SECTION END HERE -->

    <!-- PRODUCT  SECTION FOR MOBILE STARTS HERE -->
    <div class="slider-section-2">
        <div class="btn-r"><i class="fa-solid fa-chevron-left"></i></div>
        <div class="btn-l"><i class="fa-solid fa-chevron-right"></i></div>
        {% for val in special_heading_product_list %}
        <h3>{{ val|get_val:"name" }}</h1>
            <p>{{ val|get_val:"description" }}</p>
            <div class="slider-sec">
                <ul class="product-slide d-flex">
                    {% for product in val|get_val:"product_list" %}
                    <a href="{% url 'product_detail' product.id %}" class="cart p-3 text-decoration-none">
                        <div class="offer">
                            <p> {{ product.offer_percent }}% offer</p>
                        </div>
                        <div class="image-sec text-center py-4 rounded-3">
                            <img class="" style="height:115px" src="/media/{{ product.image1 }}">
                        </div>
                        <div class="name_detail">
                            <span class="mins">8 mins</span>
                            <h1>{{ product.name|truncatechars:40 }}</h1>
                            <p> {{ product.que }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between cart-section"
                            data-product-id="{{ product.id }}">
                            <div class="price">
                                <p class="actual_price">Rs {{ product.price }}</p>
                                <p class="disc_price">Rs {{ product.discounted_price }}</p>
                            </div>
                            {% if product|get_item_quantity:request.session.cart %}
                            <div class="cart-btns">
                                <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="remove" value="1">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input class="plus_minus" type="submit" value="-">
                                </form>
                                <div class="prod_que">{{ product | cart_quantity:request.session.cart }}</div>
                                <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ product.id }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    <input class="plus_minus" type="submit" value="+">
                                </form>
                            </div>
                            {% else %}
                            <form method="post" action="{% url 'add-to-cart' %}" class="add-to-cart-form">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <button type="submit" class="add-to-cart-btn">ADD</button>
                            </form>
                            {% endif %}
                        </div>

                    </a>
                    {% endfor %}
                </ul>
            </div>
    {% endfor %}
    </div>
    <!-- PRODUCT SECTION FOR MOBILE END HERE -->

    <!-- FOOTER CATEGORY SECTION STARTS HERE -->
    <div>
        {% for category in categories %}
        <a href="{% url 'subcategory' category.pk %}" class="text-decoration-none">{{ category.category_name }}</a>
        {% endfor %}
        <a class="all_cat_btn" href="{% url 'all_categories' %}"></a>
    </div>
    <!-- FOOTER CAREGORY SECTION END HERE -->

    <!-- CART BUTTON FOR MOBILE SCREENS STARTS HERE -->
    <div class="cart-button " id="open-cart-btn">
        <div class="d-flex justify-content-between align-item-baseline" data-toggle="modal" data-target="#cart">
            <span class="total-count d-flex gap-2">{{ total_count }}<p>ITEMS</p></span>
            <a href="{% url 'cart_detail' %}">Next</a>
        </div>
    </div>
    <!-- CART BUTTON FOR MOBILE SCREEN END HERE -->

    <a href="{% url 'send_code' %}">send</a>

    <script src="{% static 'app/js/myscript.js' %}"></script>

   
        
</body>
</html>