{% load custom_filters %}

<table class="show-cart table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>
                <img src="{{ item.product.image1.url }}" alt="{{ item.product.name }}" style="width: 20px; height: auto;}}">
                {{ item.product.name }}
            </td>
            <td>{{ item.quantity }}</td>
            <td>
                <span>₹  {{ item.price|multiply_no_decimal:item.quantity }}</span>
                ₹ {{ item.product.discounted_price|multiply_no_decimal:item.quantity }}
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>Total price: ${{ total_price }}</div>

<!-- Example of using filters -->
{% for product in products %}
    <div>
        {{ product.name }}
        {% if product|get_item_quantity:cart %}
            Quantity in cart: {{ product|cart_quantity:cart }}
        {% else %}
            Not in cart
        {% endif %}
    </div>
{% endfor %}


<a href="/checkout_form">Check Out</a>